# Security-critical files and directories

# Absolute paths to your local machine's SDK
local.properties
android/local.properties

# Android keystores and keys for signing
*.jks
*.keystore
key.properties
android/key.properties

# Environment variables that might contain API keys
.env
.env.*